{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors
 ]}.

{port_sources, ["c_src/*.c"]}.
{port_envs, [
    %% {"(linux|solaris)", "CFLAGS", "$CFLAGS -pipe -O3 -Wextra -D_REENTRANT -DHL7PARSER_DLL"},
    {"(linux|solaris)", "CFLAGS", "$CFLAGS -pipe -O3 -Wextra -D_REENTRANT -DHL7PARSER_DLL -DNDEBUG"},
    {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lhl7parser"}
]}.
{so_name, "ehl7.so"}.

%{pre_hooks, [{compile, "make -C c_src"},
%             {clean, "make -C c_src distclean"}]}.

{edoc_opts, [{application, ["ehl7"]}]}.

%% Options for running dialyzer
%% {plt, PltFile}
%% 'src': run Dialyzer on the source files as in 'dialyzer --src'
%% {warnings, [WarnOpts]}: turn on/off Dialyzer warnings
{dialyzer_opts, [{plt, "ehl7.plt"}, src,
                 {warnings, [no_return, race_conditions, underspecs, behaviours]}
                ]}.

{deps, [
        {bstr, ".*", {git, "https://github.com/jcomellas/bstr.git", "master"}},
        {getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", "master"}}
       ]}.
