{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors
 ]}.

%% port_specs
%% List of filenames or wildcards to be compiled. May also contain a tuple
%% consisting of a regular expression to be applied against the system
%% architecture as a filter.
{port_specs, [{"priv/ehl7.so", ["c_src/*.c"]}]}.
{port_env, [
    {"CFLAGS", "$CFLAGS -pipe -O3 -Wall -Wextra -D_REENTRANT -DHL7PARSER_DLL -DNDEBUG"},
    {"(linux|freebsd|darwin|solaris)", "LDFLAGS", "$LDFLAGS -lhl7parser"}
]}.

{edoc_opts, [{application, ["ehl7"]}]}.

{deps, [
        {bstr, ".*", {git, "https://github.com/jcomellas/bstr.git", "master"}},
        {getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", "master"}}
       ]}.
